openapi: 3.1.1
info:
  contact:
    email: support@smallstep.com
    name: Smallstep Support
    url: https://support.smallstep.com
  description: '# Getting Started

    First you''ll need to get an API token from the Team Settings page of your [Smallstep dashboard](https://smallstep.com/app).


    Then you can try [listing certificates](/operations/list-certificates) for your first API call:

    ```

    set +o history

    echo "Authorization: Bearer [your API token]" > api_headers

    set -o history

    curl -H @api_headers https://gateway.smallstep.com/api/certificates

    ```


    More resources:

    * [Terraform Provider](https://github.com/smallstep/terraform-provider-smallstep)

    * [Python Client](https://github.com/smallstep/smallstep-python)

    '
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  summary: Smallstep API
  title: Smallstep Authentication PKI Architecture API
  version: '2025-01-01'
servers:
- url: https://gateway.smallstep.com/api
security:
- JWT: []
tags:
- description: Manage certificate authorities and provisioners
  name: PKI Architecture
paths:
  /authorities:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    get:
      description: List all of a team's authorities.
      operationId: GetAuthorities
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/authority'
                type: array
          description: 'The full list of authorities.

            '
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - get-authorities
      summary: List Authorities
      tags:
      - PKI Architecture
    post:
      description: 'Create a new devops or advanced authority hosted by Smallstep.

        '
      operationId: PostAuthorities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/newAuthority'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authority'
          description: 'The authority that was created.

            '
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - post-authorities
      summary: Create New Authority
      tags:
      - PKI Architecture
  /authorities/csr:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    post:
      description: 'Create a new advanced authority hosted by Smallstep with an external root.

        Returns a CSR for the authority''s intermediate issuer that must be signed and submitted to the `/authorities/:id/root` endpoint before the authority will be able to issue certificates.

        '
      operationId: PostAuthoritiesCsr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/newAuthorityCsr'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorityCsr'
          description: 'The CSR for the authority''s intermediate issuer.

            '
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - post-authorities-csr
      summary: Create New Authority CSR
      tags:
      - PKI Architecture
  /authorities/{authorityDomainOrID}:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    - $ref: '#/components/parameters/authorityDomainOrID'
    delete:
      description: Delete an Authority by ID.
      operationId: DeleteAuthority
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - delete-authority
      summary: Delete Authority
      tags:
      - PKI Architecture
    get:
      description: Get a single authority by ID or domain.
      operationId: GetAuthority
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authority'
          description: A single authority.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - get-authority
      summary: Get Authority
      tags:
      - PKI Architecture
  /authorities/{authorityID}/provisioners:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    - $ref: '#/components/parameters/authorityID'
    get:
      description: List all provisioners attached to an authority.
      operationId: ListAuthorityProvisioners
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/provisioner'
                type: array
          description: The full list of provisioners attached to the authority.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - list-authority-provisioners
      summary: List Authority Provisioners
      tags:
      - PKI Architecture
    post:
      description: Create a new provisioner attached to an authority.
      operationId: PostAuthorityProvisioners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/provisioner'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provisioner'
          description: The new provisioner.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - post-authority-provisioners
      summary: Create Authority Provisioner
      tags:
      - PKI Architecture
  /authorities/{authorityID}/provisioners/{provisionerNameOrID}:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    - $ref: '#/components/parameters/authorityID'
    - $ref: '#/components/parameters/provisionerNameOrID'
    delete:
      description: Delete a single provisioner by name or ID.
      operationId: DeleteProvisioner
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - delete-provisioner
      summary: Delete Provisioner
      tags:
      - PKI Architecture
    get:
      description: Get a single provisioner by name or ID.
      operationId: GetProvisioner
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provisioner'
          description: The requested provisioner.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - get-provisioner
      summary: Get Provisioner
      tags:
      - PKI Architecture
  /authorities/{authorityID}/provisioners/{provisionerNameOrID}/webhooks:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    - $ref: '#/components/parameters/authorityID'
    - $ref: '#/components/parameters/provisionerNameOrID'
    post:
      description: Add a webhook to a provisioner.
      operationId: PostWebhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/provisionerWebhook'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provisionerWebhook'
          description: The new webhook.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '412':
          $ref: '#/components/responses/412'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - post-webhooks
      summary: Create Provisioner Webhook
      tags:
      - PKI Architecture
  /authorities/{authorityID}/provisioners/{provisionerNameOrID}/webhooks/{webhookNameOrID}:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    - $ref: '#/components/parameters/authorityID'
    - $ref: '#/components/parameters/provisionerNameOrID'
    - $ref: '#/components/parameters/webhookNameOrID'
    delete:
      description: Delete a single provisioner webhook by name or ID.
      operationId: DeleteWebhook
      responses:
        '204':
          $ref: '#/components/responses/204'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - delete-webhook
      summary: Delete Provisioner Webhook
      tags:
      - PKI Architecture
    get:
      description: Get a single provisioner webhook by name or ID.
      operationId: GetWebhook
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/provisionerWebhook'
          description: The requested webhook.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - get-webhook
      summary: Get Provisioner Webhook
      tags:
      - PKI Architecture
  /authorities/{authorityID}/root:
    parameters:
    - $ref: '#/components/parameters/requestID'
    - $ref: '#/components/parameters/version'
    - $ref: '#/components/parameters/accept'
    - $ref: '#/components/parameters/authorityID'
    post:
      description: 'Finalize creation of a new advanced Authority with external root by submitting the signed certificate for the CSR previously returned from the `/authorities/csr` endpoint.

        Also submit the root certificate and a name for the root.

        The authority will be ready to issue certificates after this operation completes.

        '
      operationId: PostAuthorityRoot
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adminEmails:
                  description: Users that will have admin access to manage the authority
                  items:
                    pattern: ^[\w-.]+@[\w-.]+$
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                id:
                  description: The `id` returned from a previous call to `/authorities/csr`
                  type: string
                intermediatePEM:
                  description: The signed intermediate certificate
                  type: string
                rootName:
                  description: A name for the external root issuer
                  type: string
                rootPEM:
                  description: The root certificate in PEM format
                  type: string
              required:
              - id
              - rootName
              - rootPEM
              - intermediatePEM
              - adminEmails
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authority'
          description: The Authority that was updated
          headers:
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
            X-Smallstep-Api-Version:
              $ref: '#/components/headers/X-Smallstep-Api-Version'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      security:
      - JWT:
        - post-authority-root
      summary: Post Authority External Root
      tags:
      - PKI Architecture
components:
  schemas:
    gcpDisableCustomSANs:
      description: By default custom SANs are valid, but if this option is set to `true` only the SANs available in the instance identity document will be valid, these are the DNS `<instance-name>.c.<project-id>.internal` and `<instance-name>.<zone>.c.<project-id>.internal`.
      title: GCP Disable Custom SANs
      type: boolean
    acmeAttestationProvisioner:
      description: A [provisioner](https://smallstep.com/docs/step-ca/provisioners/#acme) that enables automation with the [device-attest-01 challenge of the ACME protocol](https://smallstep.com/blog/acme-managed-device-attestation-explained/).
      properties:
        attestationFormats:
          description: The allowed attestation formats for the device-attest-01 challenge. Valid values are `apple`, `step`, and `tpm`. The apple format is for Apple devices, and adds trust for Apple's CAs. The step format is for non-TPM devices that can issue attestation certificates, such as YubiKey PIV. It adds trust for Yubico's root CA. The tpm format is for TPMs and does not trust any CAs by default.
          items:
            enum:
            - apple
            - step
            - tpm
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        attestationRoots:
          description: A trust bundle of root certificates in PEM format that will be used to verify attestation certificates. The default value depends on the value of attestationFormats. If provided, this PEM bundle will override the CA trust established by setting attestationFormats to apple or step. At least one root certificate is required when using the tpm attestationFormat.
          items:
            type: string
          type: array
        forceCN:
          description: Force one of the SANs to become the Common Name, if a Common Name is not provided.
          type: boolean
        requireEAB:
          description: Only ACME clients that have been preconfigured with valid EAB credentials will be able to create an account with this provisioner.
          type: boolean
      required:
      - attestationFormats
      title: ACME Device Attestation Provisioner
      type: object
    basicAuth:
      description: Configures provisioner webhook requests to include an Authorization header with these credentials. Optional for `EXTERNAL` webhook servers; not allowed with hosted webhook servers. At most one of `bearerToken` and `basicAuth` may be set.
      example:
        password: secret
        username: user
      properties:
        password:
          type: string
        username:
          type: string
      required:
      - username
      - password
      title: Basic Auth
      type: object
    jwkProvisioner:
      description: A [provisioner](https://smallstep.com/docs/step-ca/provisioners/#jwk) that uses public-key cryptography to sign and validate a JSON Web Token (JWT).
      properties:
        encryptedKey:
          description: The JWE encrypted private key.
          type: string
        key:
          description: The public JSON web key.
          schema: {}
      required:
      - key
      title: JWK Provisioner
      type: object
    gcpServiceAccounts:
      description: The list of service accounts that are allowed to use a GCP cloud provisioner.
      items:
        type: string
      title: GCP Service Accounts
      type: array
    error:
      example:
        message: ID must be a valid UUID
      properties:
        message:
          description: A description of the error.
          type: string
      required:
      - message
      title: Error
      type: object
    scepProvisioner:
      description: The [SCEP provisioner](https://smallstep.com/docs/step-ca/provisioners/#scep) grants certificates to clients using the SCEP protocol. This type is currently experimental and subject to change.
      properties:
        autogenerateDecrypter:
          description: Automatically generate a new RSA decrypter instead of providing one.
          type: boolean
        challenge:
          description: A static challenge secret.
          type: string
        decrypterCertificate:
          description: A PEM-encoded certificate for an RSA public key.
          type: string
        decrypterKey:
          description: The PEM-encoded RSA private key, corresponding to the certificate public key.
          type: string
        decrypterKeyPassword:
          description: The password for the PEM-encoded RSA private key, if any.
          type: string
        encryptionAlgorithmIdentifier:
          default: AES_256_CBC
          description: "The encryption algorithm used for encrypting responses to the SCEP client:\n * `DES_CBC`    - [DES in CBC mode](https://www.rfc-editor.org/rfc/rfc8018.html#appendix-B.2.1) - `1.3.14.3.2.7`\n * `AES_128_CBC` - [AES-128 in CBC mode](https://www.rfc-editor.org/rfc/rfc8018.html#appendix-B.2.5) - `2.16.840.1.101.3.4.1.2`\n * `AES_128_GCM` - [AES-128 in GCM mode](https://www.rfc-editor.org/rfc/rfc5084.html#section-3.2) - `2.16.840.1.101.3.4.1.6`\n * `AES_256_CBC` - [AES-256 in CBC mode](https://www.rfc-editor.org/rfc/rfc3565.html#section-4.1) - `2.16.840.1.101.3.4.1.42`\n * `AES_256_GCM` - [AES-256 in GCM mode](https://www.rfc-editor.org/rfc/rfc5084.html#section-3.2) - `2.16.840.1.101.3.4.1.46`\n"
          enum:
          - DES_CBC
          - AES_128_CBC
          - AES_128_GCM
          - AES_256_CBC
          - AES_256_GCM
          type: string
        excludeIntermediate:
          default: false
          description: Exclude the intermediate CA certificate in SCEP responses.
          type: boolean
        forceCN:
          description: Force one of the SANs to become the Common Name, if a Common Name is not provided.
          type: boolean
        includeRoot:
          default: false
          description: Include the root CA certificate in SCEP responses.
          type: boolean
        minimumPublicKeyLength:
          default: 2048
          description: The minimum number of bits for RSA public keys accepted in SCEP requests.
          maximum: 8192
          minimum: 1
          multipleOf: 8
          type: integer
      title: SCEP Provisioner
      type: object
      x-experimental: true
    oidcProvisioner:
      description: A [provisioner](https://smallstep.com/docs/step-ca/provisioners/#oauthoidc-single-sign-on) that is configured to trust and accept an OAuth provider's ID tokens for authentication. By default, the issued certificate will use the subject (sub) claim from the identity token as its subject. The value of the token's email claim is also included as an email SAN in the certificate.
      properties:
        admins:
          description: The emails of admin users in an OpenID Connect provisioner. These users will not have restrictions in the certificates to sign.
          items:
            type: string
          type: array
        clientID:
          description: The id used to validate the audience in an OpenID Connect token.
          type: string
        clientSecret:
          description: The secret used to obtain the OpenID Connect tokens.
          type: string
        configurationEndpoint:
          description: OpenID Connect configuration URL.
          type: string
        domains:
          description: The domains used to validate the email claim in an OpenID Connect provisioner.
          items:
            type: string
          type: array
        groups:
          description: The group list used to validate the groups extension in an OpenID Connect token.
          items:
            type: string
          type: array
        listenAddress:
          description: The callback address used in the OpenID Connect flow.
          type: string
        tenantID:
          description: The tenant-id used to replace the templatized tenantid value in the OpenID Configuration.
          type: string
      required:
      - clientID
      - clientSecret
      - configurationEndpoint
      title: OIDC Provisioner
      type: object
    authority:
      description: 'An X.509 authority hosted by Smallstep.

        '
      examples:
      - activeRevocation: true
        createdAt: '2020-03-12T02:30:53.708Z'
        id: fe4d17b4-7b47-447b-97a4-4510a532b559
        name: My Advanced Authority
        root: "-----BEGIN CERTIFICATE-----\n ... \n-----END CERTIFICATE-----\n"
        subdomain: my-advanced
        type: advanced
      properties:
        activeRevocation:
          description: Whether CRL and OCSP are enabled (advanced authorities only).
          type: boolean
        adminEmails:
          description: Users that have admin access to manage the authority.
          items:
            type: string
          type: array
        createdAt:
          description: Timestamp when the authority was created.
          format: date-time
          type: string
        domain:
          description: The domain where the authority can be reached.
          type: string
        fingerprint:
          description: The SHA-256 digest of the authority's root certificate in hex format.
          type: string
        id:
          description: A UUID identifying this authority.
          type: string
        name:
          description: The name of the authority.
          type: string
        root:
          description: The root certificate in PEM format.
          type: string
        type:
          $ref: '#/components/schemas/authorityType'
      required:
      - id
      - name
      - domain
      - type
      - createdAt
      title: Authority
      type: object
    newAuthority:
      description: 'The body of a request to create a new authority.

        '
      examples:
      - activeRevocation: false
        adminEmails:
        - user@example.com
        name: Devops Authority
        subdomain: my-devops
        type: devops
      - activeRevocation: true
        adminEmails:
        - user@example.com
        name: Advanced Authority
        subdomain: my-advanced
        type: advanced
      properties:
        activeRevocation:
          description: Whether to enable CRL and OCSP on an advanced authority.
          type: boolean
        adminEmails:
          description: Users that will have admin access to manage the authority.
          items:
            pattern: ^[\w-.]+@[\w-.]+$
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        intermediateIssuer:
          $ref: '#/components/schemas/x509Issuer'
        name:
          description: The name of the authority.
          type: string
        rootIssuer:
          $ref: '#/components/schemas/x509Issuer'
        subdomain:
          description: The new authority will be available at <subdomain>.<team slug>.ca.smallstep.com.
          type: string
        type:
          description: Create either a devops or advanced authority.
          enum:
          - devops
          - advanced
          type: string
      required:
      - name
      - subdomain
      - type
      - adminEmails
      title: New Hosted Authority
      type: object
    provisionerClaims:
      description: A set of constraints configuring how this provisioner can be used to issue certificates.
      example:
        allowRenewalAfterExpiry: true
        defaultHostSSHCertDuration: 168h
        defaultTLSCertDuration: 24h
        defaultUserSSHCertDuration: 12h
        disableRenewal: false
        enableSSHCA: true
        maxHostSSHCertDuration: 168h
        maxTLSCertDuration: 168h
        maxUserSSHCertDuration: 24h
        minHostSSHCertDuration: 48h
        minTLSCertDuration: 1h
        minUserSSHCertDuration: 4h
      properties:
        allowRenewalAfterExpiry:
          description: Allow renewals for expired certificates generated by this provisioner.
          type: boolean
        defaultHostSSHCertDuration:
          description: The default duration for an SSH host certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        defaultTLSCertDuration:
          description: The default duration for an X.509 certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        defaultUserSSHCertDuration:
          description: The default duration for an SSH user certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        disableRenewal:
          description: Disable renewal for all certificates generated by this provisioner.
          type: boolean
        enableSSHCA:
          description: Allow this provisioner to be used to generate SSH certificates.
          type: boolean
        maxHostSSHCertDuration:
          description: The maximum duration for an SSH host certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        maxTLSCertDuration:
          description: The maximum duration for an X.509 certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        maxUserSSHCertDuration:
          description: The maximum duration for an SSH user certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        minHostSSHCertDuration:
          description: The minimum duration for an SSH host certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        minTLSCertDuration:
          description: The minimum duration for an X.509 certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        minUserSSHCertDuration:
          description: The minimum duration for an SSH user certificate generated by this provisioner. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
      title: Provisioner Claims
      type: object
    provisionerOptions:
      description: Options that apply when issuing certificates with this provisioner.
      properties:
        ssh:
          $ref: '#/components/schemas/sshOptions'
        webhooks:
          items:
            $ref: '#/components/schemas/provisionerWebhook'
          type: array
        x509:
          $ref: '#/components/schemas/x509Options'
      title: Provisioner Options
      type: object
    awsAccounts:
      description: The list of AWS account IDs that are allowed to use an AWS cloud provisioner.
      items:
        type: string
      title: AWS Accounts
      type: array
    provisionerWebhook:
      description: A [webhook](https://smallstep.com/docs/step-ca/webhooks/) to call when a certificate request is being processed.
      examples:
      - certType: X509
        id: 4ad05dca-ab33-409a-88ec-8ea4a5ad3d79
        kind: ENRICHING
        name: devices
        serverType: HOSTED_ATTESTATION
        url: https://inventory.smallstep.com/enrich/attested
      - basicAuth:
          password: pass
          username: user
        certType: ALL
        id: 3f324c42-25eb-4ee9-a59c-b40e06118bf3
        kind: ENRICHING
        name: integration
        serverType: EXTERNAL
        url: https://example.com/hook
      properties:
        basicAuth:
          $ref: '#/components/schemas/basicAuth'
        bearerToken:
          description: Webhook requests will include an Authorization header with the token. Optional for `EXTERNAL` webhook servers; not allowed with hosted webhook servers. At most one of `bearerToken` and `basicAuth` may be set.
          type: string
        certType:
          enum:
          - ALL
          - X509
          - SSH
          type: string
        collectionSlug:
          description: For HOSTED_ATTESTATION webhooks, the collectionSlug is a reference to the collection that holds the devices that may be issued certificates. This collection must already exist. Required for `HOSTED_ATTESTATION` webhook servers; not allowed for `EXTERNAL`.
          type: string
        disableTLSClientAuth:
          description: The CA will not send a client certificate when requested by the webhook server. Optional for `EXTERNAL` webhook servers; not allowed with hosted webhook servers.
          type: boolean
        id:
          description: UUID identifying this webhook. Generated server-side when the webhook is created. Will be sent to the webhook server in every request in the `X-Smallstep-Webhook-ID` header.
          type: string
        kind:
          description: 'The webhook kind indicates how and when it is called.


            ENRICHING webhooks are called before rendering the certificate template. They have two functions. First, they must allow the certificate request or it will be aborted. Second, they can return additional data to be referenced in the certificate template. The payload sent to the webhook server varies based on whether an X.509 or SSH certificate is to be signed and based on the type of provisioner.

            '
          enum:
          - ENRICHING
          type: string
        name:
          description: The name of the webhook. For `ENRICHING` webhooks, the returned data can be referenced in the certificate under the path `.Webhooks.<name>`. Must be unique to the provisioner.
          type: string
        secret:
          description: The shared secret used to authenticate the payload sent to the webhook server. Generated server-side. This is returned only for `EXTERNAL` webhook servers and only once, at the time of creation.
          type: string
        serverType:
          description: 'An EXTERNAL webhook server is not operated by Smallstep. The caller must use the returned ID and secret to configure the server.


            A HOSTED_ATTESTATION webhook server is hosted by Smallstep and must be used with an `ENRICHING` webhook type and an ACME Attestation provisioner. The webhook server will verify the attested permanent identifier exists as the ID of an instance in the configured collection. The data of the instance in the collection will be added to the template data.

            '
          enum:
          - EXTERNAL
          - HOSTED_ATTESTATION
          type: string
        url:
          description: The URL of the webhook server. Required for `EXTERNAL` webhook servers; read-only for hosted webhook servers.
          type: string
      required:
      - name
      - kind
      - certType
      - serverType
      title: Provisioner Webhook
      type: object
    x5cProvisioner:
      description: A [provisioner](https://smallstep.com/docs/step-ca/provisioners/#x5c---x509-certificate) that authenticates a certificate request with an existing X.509 certificate.
      properties:
        roots:
          description: A list of PEM-encoded X.509 certificates. Any certificate bundle that chains up to any of these roots can be used in a certificate request.
          items:
            type: string
          type: array
      required:
      - roots
      title: X5C Provisioner
      type: object
    awsDisableCustomSANs:
      description: By default custom SANs are valid, but if this option is set to `true` only the SANs available in the instance identity document will be valid. These are the private IP and the DNS ip-<private-ip>.<region>.compute.internal.
      title: AWS Disable Custom SANs
      type: boolean
    distinguishedName:
      description: 'Name used in X.509 certificates

        '
      example:
      - organization: admins
      properties:
        commonName:
          type: string
        country:
          type: string
        emailAddress:
          type: string
        locality:
          type: string
        organization:
          type: string
        organizationalUnit:
          type: string
        postalCode:
          type: string
        province:
          type: string
        serialNumber:
          type: string
        streetAddress:
          type: string
      title: Distinguished Name
    authorityType:
      description: 'One of the available authority types

        '
      enum:
      - devops
      - advanced
      - managed
      title: Authority Type
      type: string
    sshOptions:
      description: Options that apply when issuing SSH certificates
      example:
        template: '{"type": {{ toJson .Type }}, "keyId": {{ toJson .KeyID }}, "principals": {{ toJson .Principals }}, "extensions": {{ toJson .Extensions }}, "criticalOptions": {{ toJson .CriticalOptions }} }'
        templateData:
          principals:
          - eng
          - ops
      properties:
        template:
          description: A JSON representation of the SSH certificate to be created. [More info](https://smallstep.com/docs/step-ca/templates/#ssh-templates).
          type: string
        templateData:
          description: A map of data that can be used by the certificate template.
          schema: {}
      title: Provisioner SSH Options
      type: object
    x509Issuer:
      description: 'A customized X.509 issuer for an authority.

        '
      examples:
      - keyVersion: EC_SIGN_P256_SHA256
        name: My Root
      properties:
        duration:
          description: The certificate lifetime. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
          type: string
        keyVersion:
          description: 'The signature algorithm.

            '
          enum:
          - EC_SIGN_P256_SHA256
          - EC_SIGN_P384_SHA384
          - RSA_SIGN_PKCS1_2048_SHA256
          - RSA_SIGN_PKCS1_3072_SHA256
          - RSA_SIGN_PKCS1_4096_SHA256
          - RSA_SIGN_PKCS1_4096_SHA512
          - RSA_SIGN_PSS_2048_SHA256
          - RSA_SIGN_PSS_3072_SHA256
          - RSA_SIGN_PSS_4096_SHA256
          - RSA_SIGN_PSS_4096_SHA512
          type: string
        maxPathLength:
          type: integer
        name:
          description: The name of the issuer.
          pattern: .+
          type: string
        nameConstraints:
          $ref: '#/components/schemas/nameConstraints'
        subject:
          $ref: '#/components/schemas/distinguishedName'
      required:
      - name
      - keyVersion
      title: X.509 Issuer
      type: object
    authorityCsr:
      description: 'A certificate signing request for an X.509 advanced authority with an external root.

        '
      examples:
      - authorityID: f7ea6511-a4c7-40e7-900e-23d4e9ea32fb
        csr: '-----BEGIN CERTIFICATE REQUEST-----

          MIHvMIGXAgEAMBExDzANBgNVBAMTBmlzc3VlcjBZMBMGByqGSM49AgEGCCqGSM49

          AwEHA0IABIJnM2Xen6mmGZwuwwR2/K940ymjD7ZHom3t3uEa7wSUBediAyBjt1rF

          zvndmHCG3Nfk/+vZeRf+RVyNrpozMDigJDAiBgkqhkiG9w0BCQ4xFTATMBEGA1Ud

          EQQKMAiCBmlzc3VlcjAKBggqhkjOPQQDAgNHADBEAiBYbBuYT37y+tGw4+mlZeL9

          NgylY/mAV5olep2K57jCJwIgDCT1TcVLtshsP2EClX03Skdp1KKuqpkFRWyYV3Pq

          h8E=

          -----END CERTIFICATE REQUEST-----

          '
        id: fe4d17b4-7b47-447b-97a4-4510a532b559
      properties:
        authorityID:
          description: A UUID identifying the authority.
          type: string
        csr:
          description: A certificate signing request for the authority's intermediate issuer in PEM format.
          type: string
        id:
          description: A UUID identifying this CSR.
          type: string
      required:
      - id
      - authorityID
      - csr
      title: Authority CSR
      type: object
    newAuthorityCsr:
      description: 'Body of a request to create a new X.509 advanced authority with an external root.

        '
      examples:
      - activeRevocation: true
        intermediateIssuer:
          duration: 10000h
          keyVersion: EC_SIGN_P256_SHA256
          maxPathLength: 1
          name: My Intermediate Issuer
          subject:
            commonName: My Company
        name: My External Authority
        subdomain: my-external
      properties:
        activeRevocation:
          description: Whether to enable CRL and OCSP on the authority.
          type: boolean
        intermediateIssuer:
          $ref: '#/components/schemas/x509Issuer'
        name:
          description: The name of the authority.
          type: string
        subdomain:
          description: The new authority will be available at <subdomain>.<team slug>.ca.smallstep.com.
          type: string
      required:
      - name
      - subdomain
      - intermediateIssuer
      title: New Authority CSR
      type: object
    gcpProjectIDs:
      description: The list of project identifiers that are allowed to use a GCP cloud provisioner.
      items:
        type: string
      title: GCP Project IDs
      type: array
    azureProvisioner:
      description: The [Azure provisioner](https://smallstep.com/docs/step-ca/provisioners/#azure) grants certificates to Microsoft Azure instances using the managed identities tokens.
      properties:
        audience:
          $ref: '#/components/schemas/azureAudience'
        disableCustomSANs:
          $ref: '#/components/schemas/azureDisableCustomSANs'
        disableTrustOnFirstUse:
          description: By default only one certificate will be granted per instance, but if the option is set to true this limit is not set and different tokens can be used to get different certificates.
          type: boolean
        resourceGroups:
          $ref: '#/components/schemas/azureResourceGroups'
        tenantID:
          $ref: '#/components/schemas/azureTenantID'
      required:
      - tenantID
      - resourceGroups
      title: Azure Provisioner
      type: object
    x509Options:
      description: Options that apply when issuing X.509 certificates.
      example:
        template: '{"subject": {{ toJson .Subject }}, "sans": {{ toJson .SANs }}, "keyUsage": ["digitalSignature"], "extKeyUsage": ["serverAuth", "clientAuth"]}'
        templateData:
          defaultOrg: eng
      properties:
        template:
          description: A JSON representation of the X.509 certificate to be created. [More info](https://smallstep.com/docs/step-ca/templates/#x509-templates).
          type: string
        templateData:
          description: A map of data that can be used by the certificate template.
          schema: {}
      title: Provisioner X.509 Options
      type: object
    azureDisableCustomSANs:
      description: By default custom SANs are valid, but if this option is set to `true` only the SANs available in the token will be valid, in Azure only the virtual machine name is available.
      title: Azure Disable Custom SANs
      type: boolean
    azureTenantID:
      description: The Azure account tenant ID for this provisioner. This ID is the Directory ID available in the Azure Active Directory properties.
      title: Azure Tenant ID
      type: string
    azureResourceGroups:
      description: The list of resource group names that are allowed to use this provisioner.
      items:
        type: string
      title: Azure Resource Groups
      type: array
    azureAudience:
      description: Defaults to https://management.azure.com/ but it can be changed if necessary.
      title: Azure Audience
      type: string
    instanceAge:
      description: The maximum age of an instance that should be allowed to obtain a certificate. Limits certificate issuance to new instances to mitigate the risk of credential-misuse from instances that don't need a certificate. Parsed as a [Golang duration](https://pkg.go.dev/time#ParseDuration).
      title: Instance Age Cloud Provisioner
      type: string
    awsProvisioner:
      description: The [AWS provisioner](https://smallstep.com/docs/step-ca/provisioners/#aws) grants a certificate to an Amazon EC2 instance using the Instance Identity Document.
      properties:
        accounts:
          $ref: '#/components/schemas/awsAccounts'
        disableCustomSANs:
          $ref: '#/components/schemas/awsDisableCustomSANs'
        disableTrustOnFirstUse:
          description: By default only one certificate will be granted per instance, but if the option is set to `true` this limit is not set and different tokens can be used to get different certificates.
          type: boolean
        instanceAge:
          $ref: '#/components/schemas/instanceAge'
      required:
      - accounts
      title: AWS Provisioner
      type: object
    acmeProvisioner:
      description: A [provisioner](https://smallstep.com/docs/step-ca/provisioners/#acme) that enables automation with the [ACME protocol](https://smallstep.com/docs/step-ca/acme-basics/#acme-challenges).
      properties:
        challenges:
          description: Which ACME challenge types are allowed.
          items:
            enum:
            - http-01
            - dns-01
            - tls-alpn-01
            type: string
          minItems: 1
          type: array
          uniqueItems: true
        forceCN:
          description: Force one of the SANs to become the Common Name, if a Common Name is not provided.
          type: boolean
        requireEAB:
          description: Only ACME clients that have been preconfigured with valid EAB credentials will be able to create an account with this provisioner. Must be `true` for all new provisioners.
          type: boolean
      required:
      - challenges
      - requireEAB
      title: ACME Provisioner
      type: object
    nameConstraints:
      description: X.509 certificate name constraints.
      properties:
        critical:
          description: 'Whether or not name constraints are marked critical.

            '
          type: boolean
        excludedDNSDomains:
          items:
            type: string
          type: array
        excludedEmailAddresses:
          items:
            type: string
          type: array
        excludedIPRanges:
          items:
            type: string
          type: array
        excludedURIDomains:
          items:
            type: string
          type: array
        permittedDNSDomains:
          items:
            type: string
          type: array
        permittedEmailAddresses:
          items:
            type: string
          type: array
        permittedIPRanges:
          items:
            type: string
          type: array
        permittedURIDomains:
          items:
            type: string
          type: array
      title: Name Constraints
    gcpProvisioner:
      description: The [GCP provisioner](https://smallstep.com/docs/step-ca/provisioners/#gcp) grants a certificate to a Google Compute Engine instance using its identity token. At least one service account or project ID must be set.
      properties:
        disableCustomSANs:
          $ref: '#/components/schemas/gcpDisableCustomSANs'
        disableTrustOnFirstUse:
          description: By default only one certificate will be granted per instance, but if the option is set to `true` this limit is not set and different tokens can be used to get different certificates.
          type: boolean
        instanceAge:
          $ref: '#/components/schemas/instanceAge'
        projectIDs:
          $ref: '#/components/schemas/gcpProjectIDs'
        serviceAccounts:
          $ref: '#/components/schemas/gcpServiceAccounts'
      title: GCP Provisioner
      type: object
    provisioner:
      allOf:
      - properties:
          claims:
            $ref: '#/components/schemas/provisionerClaims'
          createdAt:
            description: Timestamp of when the provisioner was created in RFC 3339 format. Generated server-side.
            format: date-time
            type: string
          id:
            description: A UUID identifying this provisioner. Generated server-side when the provisioner is created.
            type: string
          name:
            description: The name of the provisioner.
            type: string
          options:
            $ref: '#/components/schemas/provisionerOptions'
          type:
            description: The type of provisioner.
            enum:
            - OIDC
            - JWK
            - ACME
            - ACME_ATTESTATION
            - X5C
            - AWS
            - GCP
            - AZURE
            - SCEP
            type: string
        required:
        - type
        - name
        type: object
      - oneOf:
        - $ref: '#/components/schemas/oidcProvisioner'
        - $ref: '#/components/schemas/jwkProvisioner'
        - $ref: '#/components/schemas/acmeProvisioner'
        - $ref: '#/components/schemas/acmeAttestationProvisioner'
        - $ref: '#/components/schemas/x5cProvisioner'
        - $ref: '#/components/schemas/awsProvisioner'
        - $ref: '#/components/schemas/gcpProvisioner'
        - $ref: '#/components/schemas/azureProvisioner'
        - $ref: '#/components/schemas/scepProvisioner'
      description: '[Provisioners](https://smallstep.com/docs/step-ca/provisioners/) are methods of using the CA to get certificates with different modes of authorization.'
      examples:
      - createdAt: '2022-08-24T14:15:22Z'
        encryptedKey: eyJhbGciOiJQQkVTMi1IUzI1NitBMTI4S1ciLCJjdHkiOiJqd2sranNvbiIsImVuYyI6IkEyNTZHQ00iLCJwMmMiOjEwMDAwMCwicDJzIjoibHRFWUl6eV9pa2JYa1FiUEY0QkhzdyJ9.SQtT3TVE-IXfB45aK9QUPPS2LJqXwJwiAFDNOuzvHISFKDwfrDlWkQ.h3aQ8zDpqvAUTAI7.KqGW-T_VJ8IxxIKkHthLO8g4V42nIVsN9qPYt3VlQxI5O0XiGzqClY5e3-nyfGX_bfWeXmLEKUckwnfFOAaOSNvnI2SN2Z169cvaGaNNCpdZxw-o3V1cBPB87dtah7dP78nMsVhfKDXrajxcebrVDED43LgHHScQM-_h6gf3PazBzmKBsfHhKd7juO0v2N6exil-Dsbrkon6nSHbl6b7P738LrbTg_OdCE_ZE1XaL6ediUnWTiExCkyDO4kyUqZzus3Lf-6cc26pGhfrnIkbl5t6cdcXnc-l4Tv6vgDiZkYqpAEMaKEfTN9mQ7gjjq3EetZZK0D5oLGuPw_cmuw.o2KnkzsmDkNL8XQBvLS3Lw
        id: 4d7eb290-cd0f-4aa1-ba95-7caf4adf8fac
        key:
          alg: ES256
          crv: P-256
          kid: oqEw3DFB5qaapdTrqk_opzRFDXGaMTBF9IfuWf4roiM
          kty: EC
          use: sig
          x: YApMu7eAKAmfLNigtS3tlt8F3mc4xYccunApQG7ivCw
          y: HQgIBZ-Oc0tAXTj7Yme9hLVQCrp3ufokmm1tcq9Ou0g
        name: My JWK Provisioner
        type: JWK
      - admins:
        - eng@smallstep.com
        createdAt: '2023-04-24T14:15:22Z'
        domains:
        - smallstep.com
        groups:
        - eng
        id: 5d185312-f6c0-4426-8af2-d10b6548dcaf
        listenAddress: :10000
        name: My OIDC Provisioner
        type: OIDC
      - id: c37b052b-6150-487c-b59c-0d8c1ecde6af
        name: My X5C Provisioner
        roots:
        - '-----BEGIN CERTIFICATE -----...-----END CERTIFICATE -----'
        type: X5C
      - challenges:
        - http-01
        - dns-01
        - tls-alpn-01
        forceCN: false
        id: cfb348f2-f5f0-4993-9482-5d4e760a130e
        name: My ACME provisioner
        requireEAB: true
        type: ACME
      - attestationFormats:
        - tpm
        attestationRoots:
        - '-----BEGIN CERTIFICATE -----...-----END CERTIFICATE -----'
        forceCN: true
        id: 277246b0-2b2e-4309-bb54-4e4f6ff2db3d
        name: My TPM Attestation Provisioner
        requireEAB: false
        type: ACME_ATTESTATION
      - attestationFormats:
        - step
        - apple
        forceCN: true
        id: 53f8882a-d3d3-4dee-a22b-3ae3a7960fbe
        name: My Attestation Provisioner
        requireEAB: false
        type: ACME_ATTESTATION
      - accounts:
        - '1234567890'
        disableCustomSANs: true
        disableTrustOnFirstUse: true
        id: 040f3459-d3c8-4b49-bb57-2c56b0311d73
        instanceAge: 5m0s
        name: My AWS Provisioner
        type: AWS
      - disableCustomSANs: true
        disableTrustOnFirstUse: true
        id: 97dbea31-f611-42d0-945e-3fb54e10117a
        instanceAge: 5m0s
        name: My GCP Provisioner
        projectIDs:
        - pki-5678
        serviceAccounts:
        - 1234567890-compute@developer.gserviceaccount.com
        - 9876543210-compute@developer.gserviceaccount.com
        type: GCP
      - disableCustomSANs: true
        disableTrustOnFirstUse: true
        id: 6fab7d9c-5cfe-44bc-9829-493ea99721b5
        name: My Azure Provisioner
        resourceGroups:
        - pki-789
        tenantID: a8445e46-cb1f-4866-ae0a-e20135b75b1f
        type: AZURE
      - challenge: my-super-long-and-secret-challenge-value
        decrypterCertificate: "-----BEGIN CERTIFICATE-----\n ... \n-----END CERTIFICATE-----\n"
        decrypterKeyPEM: "-----BEGIN RSA PRIVATE KEY -----\n  ...\n-----END RSA PRIVATE KEY -----\n"
        decrypterKeyPassword: the-secret-decrypter-key-password
        encryptionAlgorithmIdentifier: 2
        excludeIntermediate: false
        forceCN: false
        id: 657be70c-c76c-4cd2-848a-c71a921e74bb
        includeRoot: false
        minimumPublicKeyLength: 2048
        name: My SCEP Provisioner
        type: SCEP
      title: Provisioner
  responses:
    '204':
      description: The resource has been deleted.
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '412':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Failed Precondition
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '403':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Forbidden
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '422':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Unprocessable
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '409':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Conflict
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '401':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Unauthorized
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '400':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Bad request
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Not found
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
    '500':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
      description: Internal server error
      headers:
        X-Request-Id:
          $ref: '#/components/headers/X-Request-Id'
        X-Smallstep-Api-Version:
          $ref: '#/components/headers/X-Smallstep-Api-Version'
  parameters:
    authorityDomainOrID:
      description: ID or domain of the authority
      in: path
      name: authorityDomainOrID
      required: true
      schema:
        type: string
    provisionerNameOrID:
      description: Either the name or UUID of the provisioner
      in: path
      name: provisionerNameOrID
      required: true
      schema:
        type: string
    version:
      description: The version of the Smallstep API. Required unless set in the Accept header.
      example: '2025-01-01'
      in: header
      name: X-Smallstep-Api-Version
      required: true
      schema:
        type: string
    accept:
      description: The content type the client is willing to accept. Also includes API version.
      example: application/vnd.smallstep.v2025-01-01+json
      in: header
      name: Accept
      schema:
        type: string
    requestID:
      description: A request ID provided by the client. If not provided, the server will generate one. Will be reflected in responses.
      example: abcdef
      in: header
      name: X-Request-Id
      schema:
        type: string
    webhookNameOrID:
      description: Either the name or UUID of the provisioner webhook
      in: path
      name: webhookNameOrID
      required: true
      schema:
        type: string
    authorityID:
      description: ID of the authority
      in: path
      name: authorityID
      required: true
      schema:
        type: string
  headers:
    X-Request-Id:
      description: A request ID provided by the client. If not provided, the server will generate one. Will be reflected in responses.
      example: abcdef
      schema:
        type: string
    X-Smallstep-Api-Version:
      description: API version to use. Will be reflected in responses.
      example: '2025-01-01'
      schema:
        format: date
        type: string
  securitySchemes:
    JWT:
      scheme: bearer
      type: http
    mtls:
      description: Use a client certificate issued by a trusted root to get short-lived bearer tokens with the step CLI.
      type: mutualTLS
